<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>
<body>
<div class="container" style="max-width:500px;">
	<form method="POST">
    {% csrf_token %}
    <label for="id_title">Title:</label><br/>
        {{ boardForm.title }}<br/>
    <label for="id_contents">Contents:</label><br/>
        {{ boardForm.contents }}<br/>
	  <input class="btn btn-dark rounded-pill col-12" type="submit" value="작성하기">
  </form>
</div>
</body>
</html>