<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </thead>

        {% if posts %}
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.writer }}</td>
                    <td>{{ post.create_date }}</td>
                </tr>

                <tr>
                    {% if request.user == post.writer %}
                    <td><a href="/board/update/{{post.id}}">
                        <button>수정</button>
                    </a></td>
                    <td><a href="/board/delete/{{post.id}}">
                        <button>삭제</button>
                    </a></td>
                    {% endif %}
                    <td><a href="/board/list/">
                        <button>목록</button>
                    </a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>