<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>
<body>
<table>
        <thead>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </thead>

        {% if post %}

                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.contents }}</td>
                    <td>{{ post.create_date }}</td>
                </tr>

        {% endif %}
    </table>
</body>
</html>