<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="js/style.js"></script>


</head>
<body>
<div class="form signup">
  <div class="form-header">
    <div class="show-signin"><a href="/user/login" style="text-decoration:none; color:white">Sign In</a></div>
    <div class="show-signup" style = "color: #f1575b">Sign Up</div>
  </div>

<form method="POST">
    {% csrf_token %}
  <div class="form-elements">
    <div class="form-element">
      <input type="text" placeholder="Username" id="{{ signupForm.username }}">
    </div>
    <div class="form-element">
      <input type="password" placeholder="Password" id="{{ signupForm.password1 }}">
    </div>
    <div class="form-element">
      <input type="password" placeholder="Confirm password" id="{{ signupForm.password2 }}">
    </div>
    <div class="form-element">
      <button id="submit-btn">Sign Up</button>
    </div>
  </div>
</form>
</div>

</body>
</html>